# DS201 Final Project: Video Game Sales Prediction

<hr>

**Problem Description:**

This dataset contains several observations, each represents a single Video Game, with several features including a game title (text analysis?), metacritic rating for the game, publisher, developer, etc...

**Warning**: Not every game has a matching metacritic review, as some of the older games existed before the time of metacritic. So you will have to weigh your options with this missing data, drop, fill in, etc...

Your taks is to predict the ```Global Sales``` column, you must perform some EDA to find which features are most strongly correlated with the ```Global_sales``` figure, clean and preprocess the data, split up dataset into test and train, model the data against several models, and evaluate model performance to find the most performant model.
<hr>

**Remember! Although These processces have been talked about as a series of steps:**

1) EDA

2) Cleaning

3) Feat Engineering

4) Modeling

5) Model Evaluation

**This is more of an iterative process!** 

You may build a model only to find you're accuracy is low, which will require you to go back and engineer new features or maybe preform some more EDA to ensure that you've selected the most important features, given the problem at hand.

<hr>

**Problem Description:**

This dataset contains several observations, each represents a single Video Game, with several features including a game title (text analysis?), metacritic rating for the game, publisher, developer, etc...

**Warning**: Not every game has a matching metacritic review, as some of the older games existed before the time of metacritic. So you will have to weigh your options with this missing data, drop, fill in, etc...

Your taks is to predict the ```Global Sales``` column, you must perform some EDA to find which features are most strongly correlated with the ```Global_sales``` figure, clean and preprocess the data, split up dataset into test and train, model the data against several models, and evaluate model performance to find the most performant model.
<hr>

**Remember! Although These processces have been talked about as a series of steps:**

1) EDA

2) Cleaning

3) Feat Engineering

4) Modeling

5) Model Evaluation

**This is more of an iterative process!** 

You may build a model only to find you're accuracy is low, which will require you to go back and engineer new features or maybe preform some more EDA to ensure that you've selected the most important features, given the problem at hand.

<hr>
<br>

## Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set() 
pd.set_option('max_columns', 100)

## Load Data

In [198]:
vg_pre_model = pd.read_csv('./data/vg_sales_fe')

In [208]:
vg_pre_model.head()

,Year_of_Release,Genre,NA_Sales,Global_Sales,Critic_Score,User_Score,Rating,Avg_Sale_by_Pub,Avg_Sale_by_Plat,High_Usr_Crt_Score,Avg_Sale_by_Name,Avg_Sale_by_Dev
0,1985.0,0.947899,29.08,40.24,7.552427,7.91843,1.369208,2.43804,2.561939,1,7.476818,3.007817
1,2008.0,0.595606,15.68,35.52,8.200000,8.30000,0.593403,2.43804,0.625929,1,1.984538,3.007817
2,2009.0,0.536978,15.61,32.77,8.000000,8.00000,0.593403,2.43804,0.625929,1,1.984538,3.007817
3,1996.0,0.631337,11.27,31.37,7.552427,7.91843,0.354420,2.43804,2.606633,1,5.817222,3.007817
4,1989.0,0.429391,23.20,30.26,7.552427,7.91843,1.369208,2.43804,2.606633,1,1.460840,3.007817

In [200]:
del vg_pre_model['Unnamed: 0']

In [201]:
del vg_pre_model['Name']

In [202]:
del vg_pre_model['Platform']

In [203]:
del vg_pre_model['Publisher']

In [204]:
del vg_pre_model['EU_Sales']
del vg_pre_model['JP_Sales']
del vg_pre_model['Other_Sales']

In [16]:
# del vg_pre_model['Global_Sales']

In [205]:
del vg_pre_model['Critic_Count']
del vg_pre_model['User_Count']

In [206]:
del vg_pre_model['Developer']

In [207]:
del vg_pre_model['User_Crit_Score_Diff']
del vg_pre_model['User_Crit_Score_Avg']

In [209]:
vg_pre_model.to_csv('./data/vg_model_whole_na')

In [210]:
vg_pre_model_no_na = vg_pre_model

In [211]:
vg_pre_model_no_na.head()

,Year_of_Release,Genre,NA_Sales,Global_Sales,Critic_Score,User_Score,Rating,Avg_Sale_by_Pub,Avg_Sale_by_Plat,High_Usr_Crt_Score,Avg_Sale_by_Name,Avg_Sale_by_Dev
0,1985.0,0.947899,29.08,40.24,7.552427,7.91843,1.369208,2.43804,2.561939,1,7.476818,3.007817
1,2008.0,0.595606,15.68,35.52,8.200000,8.30000,0.593403,2.43804,0.625929,1,1.984538,3.007817
2,2009.0,0.536978,15.61,32.77,8.000000,8.00000,0.593403,2.43804,0.625929,1,1.984538,3.007817
3,1996.0,0.631337,11.27,31.37,7.552427,7.91843,0.354420,2.43804,2.606633,1,5.817222,3.007817
4,1989.0,0.429391,23.20,30.26,7.552427,7.91843,1.369208,2.43804,2.606633,1,1.460840,3.007817

In [212]:
del vg_pre_model_no_na['NA_Sales']

In [213]:
vg_pre_model_no_na.to_csv('./data/vg_model_whole')

In [214]:
vg_pre_model_light = pd.read_csv('./data/vg_model_whole')

In [220]:
vg_pre_model_light.head()

,Genre,Global_Sales,Critic_Score,Rating,Avg_Sale_by_Pub,Avg_Sale_by_Plat,High_Usr_Crt_Score,Avg_Sale_by_Name,Avg_Sale_by_Dev
0,0.947899,40.24,7.552427,1.369208,2.43804,2.561939,1,7.476818,3.007817
1,0.595606,35.52,8.200000,0.593403,2.43804,0.625929,1,1.984538,3.007817
2,0.536978,32.77,8.000000,0.593403,2.43804,0.625929,1,1.984538,3.007817
3,0.631337,31.37,7.552427,0.354420,2.43804,2.606633,1,5.817222,3.007817
4,0.429391,30.26,7.552427,1.369208,2.43804,2.606633,1,1.460840,3.007817

In [216]:
del vg_pre_model_light['Unnamed: 0']

In [217]:
del vg_pre_model_light['Year_of_Release']

In [218]:
del vg_pre_model_light['User_Score']

In [219]:
vg_pre_model_light.to_csv('./data/vg_model_ligth')

# Model

In [221]:
vg_pre_model_no_na = pd.read_csv('./data/vg_model_whole')

In [224]:
del vg_pre_model_no_na['Unnamed: 0']

In [225]:
vg_pre_model_no_na.head()

,Year_of_Release,Genre,Global_Sales,Critic_Score,User_Score,Rating,Avg_Sale_by_Pub,Avg_Sale_by_Plat,High_Usr_Crt_Score,Avg_Sale_by_Name,Avg_Sale_by_Dev
0,1985.0,0.947899,40.24,7.552427,7.91843,1.369208,2.43804,2.561939,1,7.476818,3.007817
1,2008.0,0.595606,35.52,8.200000,8.30000,0.593403,2.43804,0.625929,1,1.984538,3.007817
2,2009.0,0.536978,32.77,8.000000,8.00000,0.593403,2.43804,0.625929,1,1.984538,3.007817
3,1996.0,0.631337,31.37,7.552427,7.91843,0.354420,2.43804,2.606633,1,5.817222,3.007817
4,1989.0,0.429391,30.26,7.552427,7.91843,1.369208,2.43804,2.606633,1,1.460840,3.007817

In [226]:
vg_pre_model_no_na.describe().T

,count,mean,std,min,25%,50%,75%,max
Year_of_Release,16292.0,2006.477535,5.880737,1980.000000,2003.000000,2007.000000,2010.000000,2017.000000
Genre,16292.0,0.534732,0.174424,0.181285,0.460402,0.521917,0.595606,0.947899
Global_Sales,16292.0,0.534732,1.427051,0.010000,0.060000,0.170000,0.470000,40.240000
Critic_Score,16292.0,6.835990,1.090066,1.300000,6.400000,6.834451,7.447619,9.800000
User_Score,16292.0,7.150491,1.112112,0.000000,6.800000,7.247547,7.800000,9.700000
Rating,16292.0,0.534732,0.224623,0.354420,0.354420,0.507446,0.593403,1.369208
Avg_Sale_by_Pub,16292.0,0.534523,0.493685,0.015714,0.210833,0.424897,0.742971,2.438040
Avg_Sale_by_Plat,16292.0,0.529026,0.294316,0.030000,0.358561,0.581046,0.625929,2.606633
High_Usr_Crt_Score,16292.0,0.324147,0.468070,0.000000,0.000000,0.000000,1.000000,1.000000
Avg_Sale_by_Name,16292.0,0.534710,0.668050,0.020000,0.347888,0.347888,0.347888,8.166250
Avg_Sale_by_Dev,16292.0,0.534708,0.654122,0.015714,0.203076,0.391027,0.637278,9.314286

In [144]:
vg_pre_model_no_na.head()

,Year_of_Release,Genre,Critic_Score,User_Score,Rating,Avg_Sale_by_Pub,Avg_Sale_by_Plat,High_Usr_Crt_Score,Avg_Sale_by_Name,Avg_Sale_by_Dev,YroRlse
0,1985.0,0.947899,7.552427,7.91843,1.369208,2.43804,2.561939,1,7.476818,3.007817,4
1,2008.0,0.595606,8.200000,8.30000,0.593403,2.43804,0.625929,1,1.984538,3.007817,4
2,2009.0,0.536978,8.000000,8.00000,0.593403,2.43804,0.625929,1,1.984538,3.007817,4
3,1996.0,0.631337,7.552427,7.91843,0.354420,2.43804,2.606633,1,5.817222,3.007817,4
4,1989.0,0.429391,7.552427,7.91843,1.369208,2.43804,2.606633,1,1.460840,3.007817,4

In [142]:
vg_pre_model_no_na = vg_pre_model_no_na[vg_pre_model_no_na['Year_of_Release'] > 0 ]

In [227]:
vg_pre_model_no_na['YroRlse'] = pd.cut(x=vg_pre_model_no_na['Year_of_Release'], bins=5, labels=[0, 1, 2,3,4])

In [230]:
vg_pre_model_no_na.head()

,Year_of_Release,Genre,Global_Sales,Critic_Score,User_Score,Rating,Avg_Sale_by_Pub,Avg_Sale_by_Plat,High_Usr_Crt_Score,Avg_Sale_by_Name,Avg_Sale_by_Dev,YroRlse,Genre_bin,Crt_Score_bin,User_Score_bin,Rating_bin,Avg_Sale_by_Pub_bin,Avg_Sale_by_Plat_bin,Avg_Sale_by_Name_bin,Avg_Sale_by_Dev_bin
0,1985.0,0.947899,40.24,7.552427,7.91843,1.369208,2.43804,2.561939,1,7.476818,3.007817,0,4,3,4,4,4,4,4,1
1,2008.0,0.595606,35.52,8.200000,8.30000,0.593403,2.43804,0.625929,1,1.984538,3.007817,3,2,4,4,1,4,1,1,1
2,2009.0,0.536978,32.77,8.000000,8.00000,0.593403,2.43804,0.625929,1,1.984538,3.007817,3,2,3,4,1,4,1,1,1
3,1996.0,0.631337,31.37,7.552427,7.91843,0.354420,2.43804,2.606633,1,5.817222,3.007817,2,2,3,4,0,4,4,3,1
4,1989.0,0.429391,30.26,7.552427,7.91843,1.369208,2.43804,2.606633,1,1.460840,3.007817,1,1,3,4,4,4,4,0,1

In [177]:
vg_pre_model_no_na["Rating"].value_counts()

0.354420    6045
0.593403    3920
0.507446    2905
0.952214    1536
0.460302    1393
1.369208     480
0.622308      13
Name: Rating, dtype: int64

In [175]:
vg_pre_model_no_na[vg_pre_model_no_na['Rating'] <= 0]

Empty DataFrame
Columns: [Year_of_Release, Genre, Critic_Score, User_Score, Rating, Avg_Sale_by_Pub, Avg_Sale_by_Plat, High_Usr_Crt_Score, Avg_Sale_by_Name, Avg_Sale_by_Dev, YroRlse, Genre_bin, Crt_Score_bin, User_Score_bin]
Index: []

In [229]:
vg_pre_model_no_na['Genre_bin'] = pd.cut(x=vg_pre_model_no_na['Genre'], bins=5, labels=[0, 1, 2,3,4])
vg_pre_model_no_na['Crt_Score_bin'] = pd.cut(x=vg_pre_model_no_na['Critic_Score'], bins=5, labels=[0, 1, 2,3,4])
vg_pre_model_no_na['User_Score_bin'] = pd.cut(x=vg_pre_model_no_na['User_Score'], bins=5, labels=[0, 1, 2,3,4])
vg_pre_model_no_na['Rating_bin'] = pd.cut(x=vg_pre_model_no_na['Rating'], bins=5, labels=[0, 1, 2,3,4])
vg_pre_model_no_na['Avg_Sale_by_Pub_bin'] = pd.cut(x=vg_pre_model_no_na['Avg_Sale_by_Pub'], bins=5, labels=[0, 1, 2,3,4])
vg_pre_model_no_na['Avg_Sale_by_Plat_bin'] = pd.cut(x=vg_pre_model_no_na['Avg_Sale_by_Plat'], bins=5, labels=[0, 1, 2,3,4])
vg_pre_model_no_na['Avg_Sale_by_Name_bin'] = pd.cut(x=vg_pre_model_no_na['Avg_Sale_by_Name'], bins=5, labels=[0, 1, 2,3,4])
vg_pre_model_no_na['Avg_Sale_by_Dev_bin'] = pd.cut(x=vg_pre_model_no_na['Avg_Sale_by_Dev'], bins=5, labels=[0, 1, 2,3,4])

In [231]:
vg_pre_model_no_na = vg_pre_model_no_na.drop(['Year_of_Release','Genre','Critic_Score', 'User_Score', "Rating", "Avg_Sale_by_Pub", "Avg_Sale_by_Plat", "Avg_Sale_by_Name", "Avg_Sale_by_Dev"], axis=1)

In [237]:
vg_pre_model_no_na.head()

,Global_Sales,High_Usr_Crt_Score,YroRlse_0,YroRlse_1,YroRlse_2,YroRlse_3,YroRlse_4,Genre_bin_0,Genre_bin_1,Genre_bin_2,Genre_bin_3,Genre_bin_4,Crt_Score_bin_0,Crt_Score_bin_1,Crt_Score_bin_2,Crt_Score_bin_3,Crt_Score_bin_4,User_Score_bin_0,User_Score_bin_1,User_Score_bin_2,User_Score_bin_3,User_Score_bin_4,Rating_bin_0,Rating_bin_1,Rating_bin_2,Rating_bin_3,Rating_bin_4,Avg_Sale_by_Pub_bin_0,Avg_Sale_by_Pub_bin_1,Avg_Sale_by_Pub_bin_2,Avg_Sale_by_Pub_bin_3,Avg_Sale_by_Pub_bin_4,Avg_Sale_by_Plat_bin_0,Avg_Sale_by_Plat_bin_1,Avg_Sale_by_Plat_bin_2,Avg_Sale_by_Plat_bin_3,Avg_Sale_by_Plat_bin_4,Avg_Sale_by_Name_bin_0,Avg_Sale_by_Name_bin_1,Avg_Sale_by_Name_bin_2,Avg_Sale_by_Name_bin_3,Avg_Sale_by_Name_bin_4,Avg_Sale_by_Dev_bin_0,Avg_Sale_by_Dev_bin_1,Avg_Sale_by_Dev_bin_2,Avg_Sale_by_Dev_bin_3,Avg_Sale_by_Dev_bin_4
0,40.24,1,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0
1,35.52,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
2,32.77,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
3,31.37,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0
4,30.26,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0

In [236]:
# pd.get_dummies()
vg_pre_model_no_na = pd.get_dummies(data=vg_pre_model_no_na, columns=["YroRlse", "Genre_bin", "Crt_Score_bin", "User_Score_bin", "Rating_bin", "Avg_Sale_by_Pub_bin", "Avg_Sale_by_Plat_bin", "Avg_Sale_by_Name_bin", "Avg_Sale_by_Dev_bin"])

In [241]:
vg_pre_model_no_na.to_csv("./data/vg_ready_model_whole.csv", index=None)